MainWindow {
    background-color: #0f0f0f;
}

QDialog {
    background-color: #0f0f0f;
}

PushButtonLE {
    background-color: #292929;
    color: white;
    padding: 0.3125em;
    border-radius: 0.4375em;

    border: 0.0625em solid black;
}

PushButtonLE#addEntryButton {
    background-color: #1b1b1b;
}

PushButtonLE:hover {
    color: #f1b82d;
    background-color: #1f1f1f;
    border: 0.0625em solid #f1b82d;
}

QLabel{
    color: white;
}

QComboBox {
    background-color: #292929;
    color: white;
}

QComboBox:selected {
    color: #f1b82d;;
}

QComboBox QAbstractItemView {
    background-color: #202020;
}

QRadioButton {
    color: white;
    padding: 0.3125em;
}

QRadioButton:hover {
    color: #f1b82d;
    /*background-color:#202020;*/
}

QRadioButton::indicator {
    width: 1em;
    height: 1em;
    border-radius: 0.625em;
    background-color: #292929;
    border: 0.125em solid white;
}

QRadioButton::indicator:checked {
    width: 1em;
    height: 1em;
    border-radius: 0.625em;
    background-color: #f1b82d;
    border: 0.125em solid white;
}

QRadioButton::indicator:hover {
    width: 1em;
    height: 1em;
    border-radius: 0.625em;
    background-color: #b98e21;
    border: 0.125em solid #f1b82d;
}

QCheckBox {
    color: white;
    padding: 0.3125em;
}

QCheckBox:hover {
    border-color: #f1b82d;
    /*background-color:#202020;*/
}

QCheckBox::indicator {
    background-color: #292929;
    border: 0.125em solid white;
}

QCheckBox::indicator:checked {
    background-color: #f1b82d;
    border: 0.125em solid white;
}

QCheckBox::indicator:hover {
    background-color: #b98e21;
    border: 0.125em solid #f1b82d;
}

TextEditLE {
    border-style: none;
    background-color: #292929;
    color: white;
    border-radius: 0.1875em;

    border: 0.0625em solid #c7c7c7;
}

TextEditLE:hover {
    border: 0.0625em solid #f1b82d;
}

NameNumberWindow{
    background-color: #0f0f0f;
}

QMessageBox {
    background-color: #0f0f0f;
}

QPushButton{
    border-style: none;
    background-color: #292929;
    color: white;
    padding: 0.3125em;
    border-radius: 0.4375em;
}

QPushButton:hover {
    color: #f1b82d;
    background-color: #1f1f1f;
}

QTabWidget {
    background-color: #292929;
}

QTabBar::tab {
    background-color: #292929;
    color: white;
}

QTabBar::tab:selected {
    background-color: #1b1b1b;
    color: #f1b82d;
}

QTabBar::tab:hover {
    background-color: #1f1f1f;
    color: #f1b82d;
}

GroupBoxLE {
    color: white;
    border-color: white;
}

GroupBoxLE:hover {
    background-color: green;
}

OutputWindow {
    background-color: #0f0f0f;
    min-height: 37.5em;
    min-width: 45em;
}

QWidget#scrollWidget {
    /*background-color: green;*/
    background-color: #292929;
    
}

QWidget#combinedWidget {
    /*background-color: green;*/
    background-color: #292929;
    
}

QScrollArea {
    background-color: #292929;

}

QWidget#BusSpeedRadioButtons {
    min-width: 31.5em;
}